.icon-freedom:before {
    content: "\e90a";
  }
  .icon-pipe:before {
    content: "\e90b";
  }
  .icon-bridge:before {
    content: "\e909";
  }
  .icon-logo:before {
    content: "\e906";
  }
  .icon-map:before {
    content: "\e905";
  }
  .icon-check-circle:before {
    content: "\e907";
  }
  .icon-frown:before {
    content: "\e903";
  }
  .icon-heart:before {
    content: "\e904";
  }
  .icon-moon:before {
    content: "\e900";
  }
  .icon-rotate-cw:before {
    content: "\e901";
  }
  .icon-sun:before {
    content: "\e902";
  }
  .icon-x-circle:before {
    content: "\e908";
  }
  