.icon-logo:before {
    content: "\e906";
  }
  .icon-map:before {
    content: "\e905";
  }
  .icon-frown:before {
    content: "\e903";
  }
  .icon-heart:before {
    content: "\e904";
  }
  .icon-moon:before {
    content: "\e900";
  }
  .icon-rotate-cw:before {
    content: "\e901";
  }
  .icon-sun:before {
    content: "\e902";
  }
  